body {
    margin: 0;
}
/* Typography */

.link,
.home {
    text-decoration: none;
    font-weight: 900;
    font-size: 1.3rem;
    color: black;
}

/* Layout */

nav {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.home {
    align-self: center;
    flex-grow: 2;
    margin: 1rem;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    flex-grow: 1;
    align-self: flex-end;
}

nav {
    border-bottom: 1px solid gray;
}
